<!DOCTYPE html>   
<html>   
<head>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

	<nav class="navbar navbar-dark" style="background-color: rgb(10, 2, 255);">
        <span class="navbar-brand mb-0 h1">Heart Disease Predictor</span>
    </nav>
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
<style> 
</style>   
</head>     
<body>    
    <center> <h1> THE PATIENT IS LIKELY TO HAVE HEART DISEASE!</h1> </center>   
    <center> <h1> Please follow the prescribed diet</h1> </center>   
    <form>  
        <legend style=" padding: 10px;  width:auto;">
        <div class="container" style=" padding-top: 50px;  background-color: rgb(241, 152, 9);border: 10px solid black;">   
Although there is no one ‘magic’ food to lower our risk of developing heart disease, there is some evidence that some foods are important for heart health. These include:
<br>
<p><b>Oily fish – </b>such as mackerel, sardines, tuna and salmon which contain omega-3 fatty acids. This type of fat has been shown to decrease triglycerides (a type of fat) and increase HDL-cholesterol levels, improve blood vessel elasticity and thin the blood, making it less likely to clot and block blood flow.</p>
<p><b>Some vegetables oils – </b>such as corn, soy and safflower (which contain omega-6 fatty acids), and those containing omega-3 fatty acids (such as canola and olive oil). All of these can help to lower LDL cholesterol when used instead of saturated fats such as butter.</p>
<p><b>Fruit and vegetables –</b> fibre, potassium and other micronutrients (such as antioxidants) in fruit and vegetables offer protection against heart disease. They are also an important source of folate – which helps lower the blood levels of the amino acid homocysteine, which appears to be linked to an increased risk of heart disease.</p>
<p><b>Wholegrains – </b>a diet high in fibre from wholegrain cereals is linked to reduced LDL cholesterol and lowered heart disease risk. Foods with high levels of soluble fibre (for example, oats, legumes and barley) are great for lowering total cholesterol levels.</p>
<p><b>Unrefined carbohydrate sources with a low glycaemic load – </b>such as wholegrain breads and cereals, legumes, certain types of rice and pasta, and most fruits and vegetables also help to lower blood triglycerides and glucose (sugar) levels, help manage diabetes and reduce heart disease risk.</p>
<p><b>Legumes, nuts and seeds – </b>are good sources of plant proteins, fibre, healthy fats and micronutrients to help lower your cardiovascular risk.</p>
<p><b>Tea – </b>some research suggests antioxidants in tea can help prevent the build-up of fatty deposits in the arteries. They may also act as an anti-blood clotting agent and improve blood vessel dilation to allow increased blood flow.</p>
<p><b>Foods containing vitamin E – </b>some studies indicate that vitamin E acts as an antioxidant, helping to protect against LDL cholesterol.</p>
<p><b>Sources of vitamin E include – </b>avocados, dark green vegetables, vegetable oils and wholegrain products. Eat foods containing vitamin E rather than supplements, which have not been shown to have the same protective effects.</p>
<p><b>Garlic – </b>a compound in fresh garlic (called allicin) has been found to lower total and LDL cholesterol in the blood, thereby reducing the risk of heart disease.</p>
<p><b>Foods enriched with plant sterols – </b>a daily intake of 2 to 3 g of phytosterols/stanols lowers LDL cholesterol levels by approximately 10% in healthy people, and those with high cholesterol or diabetes. This equates to 2 to 3 serves of phytosterol-enriched foods like margarine spreads, yoghurts, milk and breakfast cereals.</p>
 
        </div>   
    </legend>
    </form>     
</body>   